/* Basic styles */

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #ff6600, #ff9900);
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

header h1 {
  margin: 0;
  font-size: 24px;
  font-family: "Pacifico", cursive;
}

header h1 a {
  color: white;
  text-decoration: none;
}

.menu-icon {
  display: block;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked + .menu-icon + #navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background: linear-gradient(90deg, #ff6600, #ff9900);
  z-index: 1;
}

/* Navbar */

#navbar {
  display: none;
  width: 100%;
  color: white;
}

#navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#navbar ul li {
  margin: 10px 0;
}

#navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s;
}

#navbar ul li a:hover {
  color: #333;
}

/* Hero banner */

#hero {
  position: relative;
  background: url("./img/hero.jpg") no-repeat center center/cover;
  background-position: center 20%;
  color: white;
  text-align: center;
  padding: 100px 20px;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
}

#hero h1 {
  font-size: 48px;
  margin: 0;
  animation: fadeInDown 1s ease-in-out;
}

#hero p {
  font-size: 24px;
  animation: fadeInUp 1s ease-in-out;
}

#hero button {
  font-size: 24px;
  font-weight: bold;
  animation: fadeInUp 1s ease-in-out;
  background-color: #ff6600;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 5px 0 0;
  transition: background-color 0.3s, transform 0.3s;
}

/* Key Frames for hero banner */

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Main content */

.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

#pet-of-the-week {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#pet-of-the-week .card-image {
  flex: 1;
  margin-bottom: 0;
}

#pet-of-the-week .card-text {
  flex: 1;
  margin-top: 0;
}

/* Card styles */

.card {
  flex: 1;
  margin: 20px;
  background: linear-gradient(135deg, #ffecd2 0%, #fcb69f 100%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #ff6600;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #ff6600;
}

.card-image {
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  max-height: 400px;
}

.card-border {
  border-radius: 10px 10px 0 0;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  transition: transform 0.3s;
  object-position: center;
}

#campaigns .card-image img {
  height: 300px;
  object-position: center 20%;
}

#fish img {
  border-radius: 0;
}

.card-text {
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 0 20px 20px 20px;
  border-radius: 0 0 10px 10px;
}

.card-text h3 {
  margin: 0;
  font-size: 24px;
}

.card-text p {
  margin: 10px 0;
}

.card-text a {
  color: #ff6600;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s, text-decoration 0.3s;
}

.card-text a:hover {
  color: #cc5200;
  text-decoration: underline;
}

.card button,
form button {
  background-color: #ff6600;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 5px 0 0;
  transition: background-color 0.3s, transform 0.3s;
  font-weight: bold;
}

.card button:hover,
form button:hover {
  background-color: #cc5200;
  transform: translateY(-3px);
}

/* Donate form */

#donate {
  flex: 1;
}

#donate form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#donate label {
  display: block;
  font-weight: bold;
}

#donate input,
form input,
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#donate input {
  margin-bottom: 20px;
  margin-left: 0;
}

form textarea {
  resize: vertical;
}

/* Form styles */

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form label {
  display: block;
  font-weight: bold;
}

.form-group-inline {
  display: flex;
  gap: 30px;
}

.form-group-inline div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group-inline label,
.form-group-inline input {
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  resize: vertical;
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
}

.form-card-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* Footer */

footer {
  background: linear-gradient(90deg, #ff6600, #ff9900);
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 0;
}

#fish {
  display: none;
}

/* Media Queries */

/* Tablet */

@media screen and (min-width: 480px) {
  header h1 {
    font-size: 36px;
  }

  #hero h1 {
    font-size: 36px;
  }

  #hero p {
    font-size: 18px;
  }

  #navbar ul {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #navbar ul li {
    margin: 10px 0;
  }

  .card-image img {
    height: 300px;
    object-position: center 20%;
  }
}

/* Desktop */

@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-icon {
    display: none;
  }

  #navbar {
    display: flex;
    width: auto;
  }

  #navbar ul {
    flex-direction: row;
    text-align: center;
  }

  #navbar ul li {
    margin: 0 15px;
  }

  #hero {
    padding: 100px 20px;
  }

  #hero h1 {
    font-size: 48px;
  }

  #hero p {
    font-size: 24px;
  }

  .card-image img {
    height: 400px;
    object-position: center 50%;
  }

  /* Large Desktop */

  @media screen and (min-width: 1024px) {
    .content {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
    }

    .card-image img {
      height: auto !important;
      object-position: center !important;
    }

    #fish {
      display: block;
    }
  }
}

/* Contact page background image */

.contact-bg {
  background: url('./img/contact-bg.jpg') no-repeat center center/cover;
}
